:root {
    --green: #7c8c54;
    --secondary-color: #e7dbbe;
}

body {
    background-image: url("/assets/nps-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px 100px;
    
}

header p {
    background-color: var(--secondary-color);
}

h1 {
    background-color: var(--green);
}

footer {
    background-color: var(--green);
}

